---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---

<Layout
  title="Disney"
  description="El centro de estaciones LoFi mas grande del Mundo"
>
  <Header />
  <main class="flex flex-col px-6 xl:px-64 h-full items-center">
    <section class="mt-80">
      <h1 class="text-white text-center text-4xl font-bold">
        Welcome to <strong class="text-light-blue">LofiCenter</strong>
      </h1>
      <p class="w-full text-white text-xl text-center text-pretty">
        To start listening, select one of the categories located in the sidebar
        and choose one of the stations that appear.
      </p>
    </section>
  </main>
</Layout>
