---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---

<Layout
  title="Disney"
  description="El centro de estaciones LoFi mas grande del Mundo"
>
  <Header
    category="Disney"
    currentVideoTitle="Soda Stereo - Me Verás Volver (Hits & +) (Álbum 2007 Completo)"
  />
  <main class="flex flex-col px-6 xl:px-64 h-full items-center"></main>
</Layout>
