---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
---

<Layout
  title="Lord Of The Rings"
  description="El centro de estaciones LoFi mas grande del Mundo"
>
  <Header />
  <main class="flex flex-col px-6 xl:px-64 h-full items-center"></main>
</Layout>
