---
import NavLink from "./NavLink.astro";
---

<div class="pt-28 px-9 h-full">
  <h2 class="font-medium text-white text-2xl lg:text-xl 2xl:text-2xl">Categories</h2>
  <canvas class="relative w-full h-1 bg-pink top-4"></canvas>
  <nav class="relative top-10 flex flex-col gap-5">
    <NavLink href="disney">Disney</NavLink>
    <NavLink href="disney">Disney</NavLink>
    <NavLink href="disney">Disney</NavLink>
    <NavLink href="disney">Disney</NavLink>
  </nav>
</div>