---
import Categories from "./Categories.astro";
import Logo from "./Logo.astro";
import Sidebar from "./Sidebar.astro";



---
<header class="bg-violet flex flex-col fixed z-10 h-dvh w-full xl:w-auto">

  <section id="header" class=" h-24 flex  px-9 justify-between xl:justify-center items-center border-b-6 md:border-r-6 border-black bg-violet">
    <Logo/>
    <a class="xl:hidden absolute right-0 pr-9" href="#categories-nav"><img class="size-10" src="/menu-2.svg"></a>
    <a class="xl:hidden" href="#header"><img class="size-10" src="/x.svg"></a>
  </section>
  <Categories/>
</header>