---
import Coffee from "./icons/Coffee.astro";
---

<a href="/" class="flex items-center gap-4 w-fit xl:w-full">
  <Coffee class="size-10 text-light-violet" />
  <h2 class="text-2xl font-medium text-white">LofiCenter</h2>
</a>
