<a href="/" class="flex items-center gap-4 justify-between w-fit xl:w-full">
  <img class="size-10 2xl:size-11 " src="/Coffee.svg">  
  <h2 class="text-2xl lg:text-xl 2xl:text-2xl font-medium text-white">LofiCenter</h2>
</a>