---
import Categories from "@/components/Categories.astro";
import Logo from "@/components/Logo.astro";
import Coffee from "./icons/Coffee.astro";
---

<aside
  class={`${Astro.props.class} flex flex-col xl:bg-violet xl:border-r-6 border-r-black`}
>
  <div
    id="header-nav"
    class="fixed xl:relative w-full z-20 xl:bg-violet xl:border-b-6 border-b-black h-20 flex justify-between items-center px-6"
  >
    <Logo class="hidden xl:flex" />
    <a class="xl:hidden" href="/">
      <Coffee class="size-10 text-light-violet" />
    </a>
    <button class="menu-btn xl:hidden">
      <a href="#categories-nav">
        <img class="size-8" src="/menu-2.svg" />
      </a>
    </button>
  </div>
  <Categories />
</aside>
