---
import "@fontsource-variable/roboto-mono";
import { ViewTransitions } from "astro:transitions";
import Sidebar from "@/components/Sidebar.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Coffee.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-dark-violet grid grid-cols-1 xl:grid-cols-10">
    <Sidebar class="xl:col-span-2" />
    <main class="z-0 xl:col-span-10">
      <slot />
    </main>
    <style is:global>
      body {
        font-family: "Roboto Mono Variable", sans-serif;
        min-height: 100vh;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      main {
        display: grid;
        grid-column: span 8;
      }
    </style>
  </body>
</html>
